# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Pull Request - Artifact Upload

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v2

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2

    - name: Restore Packages
      run: nuget restore ComicRack.sln

    - name: Build solution
      run: msbuild ComicRack\ComicRack.csproj -t:rebuild -property:Configuration=Release

    - name: Upload artifacts
      id: upload
      uses: actions/upload-artifact@v4
      with:
        name: "ComicRackCESetup_PR"
        path: "ComicRack/bin/Release/*"
        if-no-files-found: error